# Node.js
node_modules/

# React Native packager's cache
/build/
/dist/

# React Native packager
packager-info.json

# Android
/android/build/
/android/app/build/
gradle-wrapper.jar
android/.cxx/
android/app/outputs/
android/app/intermediates/
android/.gradle/
android/app/.cxx/
android/.idea/
android/app/src/main/res/drawable-mdpi/node_modules_*
android/app/src/main/assets/index.android.bundle
android/gradle.properties
android/app/*.keystore

# iOS
ios/Pods/
/ios/Podfile.lock
ios/build/
ios/.DS_Store

# Ignore Xcode specific files
*.xcuserstate
*.xcworkspace/
*.xcworkspacedata
xcuserdata/

# macOS
.DS_Store

# Visual Studio Code settings
.vscode/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local
.xcode.env.local

# Android Studio files
.android/

# MacOS specific files
*.swp
*.swo

# Temporary files
*.log

# Sublime Text
*.sublime-workspace
*.sublime-project

# Metro cache
/.metro-*

# Custom build/output directories
build/
output/